<!doctype html>
{% block head %}
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
    <meta charset="{{site.charset}}" />
    <title>{{wp_title}}</title>
    <meta name="description" content="{{site.description}}">
    <link rel="stylesheet" href="{{site.theme.link}}/css/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{site.theme.link}}/vendor/fortawesome/font-awesome/css/font-awesome.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{site.pingback_url}}" />
	{{function('wp_head')}}
{% endblock %}
</head>
<body class="{{body_class}}" data-ng-app="spDefault" data-source="base.twig">
<!-- <body class="html front not-logged-in no-sidebars page-node page-node- page-node-1 node-type-page i18n-en navbar-is-static-top bootstrap-anchors-processed">
 -->
 <!-- HEADER -->
<header id="navbar" role="banner">
<nav role="navigation" class="navbar navbar-default" data-ng-controller="NavCtrl">
<div class="container">
    <div class="navbar-header">
    	<a class="logo navbar-btn pull-left" href="/" title="Home">
        <img src="http://pacific.sil-dev.info/sites/pacific/files/pacific_logo_0_0.png" alt="Home">
      	</a>
      
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <button type="button" class="navbar-toggle" data-ng-init="collapsed = true" data-ng-click="collapsed = !collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

	<div class="collapse navbar-collapse" data-collapse="collapsed">
		{{function('get_search_form')}}
		<ul class="nav navbar-nav navbar-right"><li class="first expanded dropdown"><a href="/language_development" data-target="#" class="dropdown-toggle" data-hover="dropdown">Language Development <span class="caret"></span></a><ul class="dropdown-menu"><li class="first leaf"><a href="/language_development/literacy_education">Literacy &amp; Education</a></li>
		<li class="leaf"><a href="/language_development/language_programs">Program Management</a></li>
		<li class="leaf"><a href="/language_development/language_technology">Technology</a></li>
		<li class="last leaf"><a href="/language_development/translation">Translation</a></li>
		</ul></li>
		<li class="leaf"><a href="/resources" title="">Resources</a></li>
		<li class="expanded dropdown"><a href="/training" data-target="#" class="dropdown-toggle" data-hover="dropdown">Training <span class="caret"></span></a><ul class="dropdown-menu"><li class="first leaf"><a href="http://prod.pacific.sil-dev.info/resources/for_specialists" title="">Formal Training</a></li>
		<li class="leaf"><a href="/training/programs" title="">Non-Formal Training</a></li>
		<li class="last leaf"><a href="/training/pilat">PILAT</a></li>
		</ul></li>
		<li class="last expanded dropdown"><a href="/about-0" data-target="#" class="dropdown-toggle" data-hover="dropdown">About SIL Pacific <span class="caret"></span></a><ul class="dropdown-menu"><li class="first leaf"><a href="/about-0/who_we_are_">Who We Are</a></li>
		<li class="leaf"><a href="/about-0/vision_and_strategy">Vision and Strategy</a></li>
		<li class="leaf"><a href="/about/news" title="">News</a></li>
		<li class="leaf"><a href="/about-0/partners-0">Partners</a></li>
		<li class="leaf"><a href="http://pacific.sil-dev.info/about/pacific_stories" title="Pacific Stories">Pacific Stories</a></li>
		<li class="leaf"><a href="/about-0/history">History</a></li>
		<li class="leaf"><a href="/about-0/faq">FAQ</a></li>
		<li class="leaf"><a href="/about/consultants">Consultants</a></li>
		<li class="last leaf"><a href="http://prod.pacific.sil-dev.info/about/contact" title="">Contact US</a></li>
		</ul></li>
		</ul>
	</div>
</div>
</nav>
</header>

<div id="page-site-name">
  <div class="container">
    <h1 class="page-header">{{site.name}}</h1>
  </div>
</div>
{% block content %}

{% endblock %}
<footer class="footer">
        {% include 'footer.twig' %}

</footer>
    {{ function('wp_footer') }}
</body>
</html>